{% extends 'base.html.twig' %}

{% block title %}{{ post.title}} | LÄMNA{% endblock %}

{% block body %}
	<header class="header-blog-details">
		<div class="container-header-blog-details">
			<div class="block-image-header-blog-details">
				<img src="{{vich_uploader_asset(post, 'imageFile')}}" alt="{{post.title}}"/>
			</div>
			<div class="content-header-blog-details">
				<div class="link-header-blog-details">
					<a href="{{path('home')}}">&larr;  Retour</a>
				</div>
				<div
					class="box-label-and-date">
					<span class="concept-blog-details">{{post.categories.name}}</span>
					<span class="date-card-article-blog-details">{{post.createdAt |format_datetime('short', 'none', locale='fr')}}</span>
				</div>
				<div class="title-header-blog-details">
					<h1>{{post.title | raw}}</h1>
				</div>
				<div class="description-blog-details">{{post.content | raw }}</div>
			</div>
		</div>
	</header>
	<section class="section-paragraphs">
		{% if paragraphs|length > 0 %}
			{% for paragraph in paragraphs %}
				<div class="container-paragraphs">
					<h2 class="title-paragraphs">{{paragraph.title | raw}}</h2>
					<div>{{paragraph.content | raw}}</div>
					{% if paragraph.caption is not empty and paragraph.imageName is not empty %}
						<div class="container-image-paragraphs">
						<figure>
							<img src="{{vich_uploader_asset(paragraph, 'imageFile')}}" alt="{{paragraph.title}}"/>
								<figcaption>{{paragraph.caption | raw}}</figcaption>
						</figure>
					</div>
					{% endif %}
				</div>	
			{% endfor %}
		{% else %}
			{% include "partials/notParagraph.html.twig" %}
		{% endif %}

	</section>
	<section class="section-blog-details">
		<p class="concept">Articles liés</p>
		<h2 class="title-blog-details">Ces articles pourraient vous intéresser</h2>
		{% include "partials/cardsArticle.html.twig" %}
	</div>
</section>{% endblock %}
